gdown
glob2
Jinja2
joblib
jsonlines
nltk
numpy
pathlib2
prettytable
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.2.0
regex
scipy
scikit-learn
spacy==2.2.3
tagme==0.1.3
torch==1.3.0
tqdm
ujson
unicodecsv
urllib3